RewriteEngine on
RewriteRule ^downloads/current.txt   /current.txt        [R=301,L]
RewriteRule ^downloads/gcs-.*        /index.html         [R=301,L]
RewriteRule ^Welcome.html            /index.html         [R=301,L]
RewriteRule ^Release_Notes           /release_notes.html [R=301,L]
RewriteRule ^.git                    /index.html         [R=301,L]
RewriteRule ^wiki                    /index.html         [R=301,L]

php_value upload_max_filesize 20M
php_value post_max_size 20M
