html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, font, img, strong, ol, ul, li, :focus {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 100%;
  background-color: white;
  color: #505050;
  font-family: "trebuchet ms", helvetica, sans-serif;
}

ol, ul {
  list-style: square outside;
  margin-left: 2.2em;
}

p {
  margin-top: 0.5em;
  font-size: 1em;
  line-height: 1.3em;
}

strong {
  font-weight: normal;
  color: #505050;
}

a {
  text-decoration: underline;
  color: #93b300;
}

a:hover {
  text-decoration: none;
  color: white;
  background: #93b300;
}

#header {
  width: 100%;
  height: 3.5em;
  background: #4d4d4d linear-gradient(#5d5d5d, black 3em, white);
  color: white;
}

#header h1 {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  font-size: 2em;
  font-weight: normal;
  color: white;
}

#slogan {
  position: absolute;
  right: 1em;
  top: 1.5em;
  font-size: 0.8em;
  color: #dadada;
}

#footer {
  clear: both;
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 60%;
  padding-top: 0.75em;
  line-height: 1.2em;
}

#main {
  position: relative;
  margin: 0.5em;
}

#left_column {
  position: relative;
  width: 13em;
  float: left;
  font-size: 0.9em;
}

#menu {
  margin-bottom: 1em;
}

#menu ul {
  list-style: none;
  margin-left: 0;
}

#menu li {
  font-weight: bold;
}

#menu a {
  display: block;
  position: relative;
  width: 11em;
  height: 1em;
  padding: 0.5em;
  margin-bottom: 1px;
  text-decoration: none;
  background: #ddd linear-gradient(#ddd, #aaa);
  color: #505050;
  font-size: 1em;
}

#menu a:hover {
  background: #c6e600 linear-gradient(#c6e600, #93b300);
}

h1, h2, h3 {
  color: #6c7425;
}

h1 {
  font-size: 1.8em;
}

h2 {
  margin-top: 1em;
  font-size: 1.2em;
  line-height: 1.7em;
  background: linear-gradient(white, white 1.2em, #eee 1.2em, white);
}

h3 {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5em;
  background: linear-gradient(white, white 1.1em, #eee 1.1em, white);
}

h4 {
  font-size: 0.9em;
  line-height: 1.1em;
}

#links {
  margin: 0.75em;
}

#links ul {
  margin-left: 1.1em;
}

#links li {
  font-size: 0.8em;
  line-height: 2em;
}

#right_column {
  position: relative;
  padding-top: 0.5em;
  margin-left: 13em;
  font-size: 0.9em;
}

.version {
  color: #93b300;
}

.release_date {
  float: right;
  font-size: 0.75em;
}

.first {
  margin-top: 0;
}

.vgap {
  margin-top: 2em;
}

#release_notes h3 {
  margin-left: 1em;
}

#release_notes h4 {
  margin-left: 2.25em;
}

#release_notes li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.box {
  margin: 1em auto;
  padding: 1em;
  border: solid 1px #dadada;
  border-radius: 1em;
  background-color: #f7f9fa;
  text-align: center;
  width: fit-content;
}

#logo {
  width: 200px;
  height: 133px;
  display: inline-block;
  vertical-align: top;
}

#downloads {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  vertical-align: top;
}

#downloads h2 {
  margin: 0 0 0.5em;
  text-align: center;
  line-height: 1.2em;
  background: none;
}

#downloads p {
  margin: 0;
  color: #6c7425;
}

#downloads a img {
  width: 42px;
  height: 57px;
  padding-left: 8px;
  padding-right: 8px;
}

#downloads a:hover {
  background: none;
}

.footnote {
  color: #6c7425;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  margin-top: 1.5em;
}

.code_header {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.code {
  border: dashed 1px #8cacbb;
  color: black;
  background-color: #f7f9fa;
  padding: 0.5em;
  font-size: 1em;
  font-family: monospace;
  line-height: 1.2em;
  display: block;
  white-space: pre;
  margin: 0.5em 2em 1em;
}

.notable {
  background-color: #d5fffc;
  font-weight: bold;
  font-family: monospace;
  line-height: 1.2em;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
}

#dev_setup ul {
  margin-left: 2.5em;
}

#note {
  border: solid 1px #f00;
  border-radius: 1em;
  color: black;
  background: #ffe0cc;
  padding: 0.5em;
  font-size: 1em;
  font-style: italic;
  line-height: 1.2em;
  display: block;
  margin: 1em;
}

#note h1 {
  font-size: 1.2em;
}

#menu a.double_height {
  height: 2.1em;
}

.sponsor {
  margin-top: 2em;
  text-align: center;
}