html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, font, img, strong, ol, ul, li, :focus {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 100%;
	background-color: white;
	color: #9f9f9f;
	font-family: "trebuchet ms", helvetica, sans-serif;
}

ol, ul {
	list-style: square;
	list-style-position: outside;
	margin-left: 2.2em;
}

p {
	margin-top: 0.5em;
	font-size: 1em;
	line-height: 1.3em;
}

a {
	text-decoration: underline;
	color: #93b300;
}

a:hover {
	text-decoration: none;
	color: white;
	background: #93b300;
}

#header {
	width: 100%;
	height: 3.5em;
	background-color: #4d4d4d;
	background: linear-gradient(#5d5d5d, black 3em, white);
	color: white;
}

#header h1 {
	position: absolute;
	left: 0.5em;
	top: 0.5em;
	font-size: 2em;
	font-weight: normal;
	color: white;
}

#slogan {
	position: absolute;
	right: 1em;
	top: 1.5em;
	font-size: 0.8em;
	color: #dadada;
}

#footer {
	clear: both;
	width: 100%;
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 60%;
	background: linear-gradient(#eeeeee, white 1em);
	border-top: 1px solid #eeeeee;
	padding-top: 0.75em;
	line-height: 1.2em;
}

#main {
	position: relative;
	margin: 0.5em;
}

#left_column {
	position: relative;
	width: 11em;
	float: left;
	font-size: 0.9em;
}

#menu {
	margin-bottom: 1em;
}

#menu ul {
	list-style: none;
	margin-left: 0;
}

#menu li {
	font-weight: bold;
}

#menu a {
	display: block;
	position: relative;
	width: 10em;
	height: 1em;
	padding: 0.5em;
	margin-bottom: 1px;
	text-decoration: none;
	background-color: #dddddd;
	background: linear-gradient(#dddddd, #aaaaaa);
	color: #505050;
	font-size: 1em;
}

#menu a:hover {
	background-color: #c6e600;
	background: linear-gradient(#c6e600, #93B300);
}

h1, h2, h3 {
	color: #6C7425;
}

h1 {
	font-size: 1.8em;
}

h2 {
	margin-top: 1em;
	font-size: 1.2em;
	line-height: 1.7em;
	background: linear-gradient(white, white 1.2em, #eeeeee 1.2em, white);
}

h3 {
	margin-top: 1em;
	font-size: 1em;
	line-height: 1.5em;
	background: linear-gradient(white, white 1.1em, #eeeeee 1.1em, white);
}

#links {
	margin: 0.75em;
}

#links ul {
	margin-left: 1.1em;
}

#links li {
	font-size: 0.8em;
	line-height: 2em;
}

#right_column {
	position: relative;
	padding-top: 0.5em;
	margin-left: 12em;
	font-size: 0.9em;
}

.version {
	color: #93B300;
}

.release_date {
	float: right;
	font-size: 0.75em;
}

.first {
	margin-top: 0;
}

.vgap {
	margin-top: 2em;
}

#release_notes h3 {
	margin-left: 1em;
}

#release_notes li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.box {
	margin: 1em;
	padding: 1em;
	border: dashed 1px #dadada;
	background-color: #ffffcc;
	background: linear-gradient(#ffffcc, #ffffee);
	text-align: center;
}

#logo {
	width: 200px;
	height: 133px;
	display: inline-block;
	vertical-align: top;
}

#downloads {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
	vertical-align: top;
}

#downloads h2 {
	margin: 0;
	margin-bottom: 0.5em;
	text-align: center;
	line-height: 1.2em;
	background: none;
}

#downloads p {
	margin: 0;
	color: #6C7425;
}

#macintosh_download {
	background-image: url('images/macintosh.png');
}

#windows_download {
	background-image: url('images/windows.png');
}

#linux_download {
	background-image: url('images/linux-64.png');
}

#linux32_download {
	background-image: url('images/linux-32.png');
}

#downloads a {
	display: inline-block;
	width: 42px;
	height: 57px;
	border: 1px solid black;
	background-color: white;
}

#downloads a:hover {
	background-color: #93B300;
}

.footnote {
	color: #6C7425;
	text-align: center;
	font-size: 1em;
	font-style: italic;
	margin-top: 1.5em;
}

.code_header {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.code {
	border: dashed 1px #8cacbb;
	color: black;
	background-color: #f7f9fa;
	padding: 0.5em;
	font-size: 1em;
	font-family: monospace;
	line-height: 1.2em;
	display: block;
	white-space: pre;
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

#dev_setup ul {
	margin-left: 2.5em;
}
