*
{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "trebuchet ms", helvetica, sans-serif;
}

body
{
	background-color: white;
	color: #9f9f9f;
	font-size: 12px;
	font-family: "trebuchet ms", helvetica, sans-serif;
}

a
{
	text-decoration: underline;
	color: #93B300;
}

a:hover
{
	text-decoration: none;
	color: white;
	background: #93B300;
}

#header
{
	width: 100%;
	height: 80px;
	background-color: #4d4d4d;
	background: url('images/header.gif') repeat-x;
	color: white;
}

#header_inner
{
	position: relative;
	width: 680px;
	height: 80px;
	margin: 0 auto;
}

#header_inner h1
{
	position: absolute;
	left: 0;
	bottom: 10px;
	font-size: 38px;
	color: white;
	font-weight: normal;
}

#slogan
{
	position: absolute;
	right: 0;
	bottom: 22px;
	color: #DADADA;
	font-size: 14px;
}

#footer
{
	clear: both;
	background: url('images/fade.gif') repeat-x;
	width: 680px;
	margin: 0 auto;
	margin-bottom: 5px;
	padding-top: 10px;
	text-align: center;
	font-size: 11px;
}

#main
{
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 680px;
	margin: 0 auto;
}

#lcol
{
	position: relative;
	width: 185px;
	float: left;
}

#lcontent
{
	position: relative;
	padding: 0 15px 20px 15px;
}

#rcol
{
	position: relative;
	margin-left: 190px;
	width: 490px;
	background-image: url('images/fade.gif');
	background-repeat: repeat-x;
}

#rcontent, #release_notes
{
	position: relative;
	padding: 25px 20px 20px 20px;
}

#menu ul
{
	list-style: none;
	margin: 0;
}

#menu li
{
	padding: 0;
	font-weight: bold;
}

#menu a
{
	display: block;
	position: relative;
	width: 168px;
	height: 25px;
	margin-bottom: 1px;
	text-decoration: none;
	background-image: url('images/menu_base.gif');
	padding-left: 17px;
	padding-top: 11px;
	color: #636363;
	font-size: 13px;
}

#menu a:hover
{
	color: white;
	background-image: url('images/menu_hover.gif');
}

#menu_end
{
	height: 30px;
	background-image: url('images/fade.gif');
}

h1 {
	color: #6C7425;
	font-size: 26px;
}

h2, h2 span
{
	color: #6C7425;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 5px;
	height: 34px;
	background: url('images/thin_fade.gif') repeat-x 0 20px;
}

.version
{
	color: #93B300;
}

.release_date
{
	float: right;
	font-size: 11px;
	margin-top: 6px;
}

h3
{
	margin-top: 20px;
	color: #6C7425;
	font-size: 15px;
	height: 34px;
	background: url('images/thin_fade.gif') repeat-x 0 17px;
}

h3.first
{
	margin-top: 0;
}

#release_notes h3
{
	margin-left: 10px;
}

.box
{
	border: dashed 1px #dadada;
	padding: 10px;
	padding-right: 0;
	color: #AAB165;
	background: #FFFFE9 url('images/yellow_fade.gif') repeat-x;
}

#logo
{
	width: 200px;
	height: 133px;
	float: left;
}

#downloads h2
{
	color: #6C7425;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
	height: auto;
	background: none;
}

#downloads p
{
	text-align: center;
	margin: 0;
}

#macintosh_download
{
	background-image: url('images/macintosh.png');
}

#windows_download
{
	background-image: url('images/windows.png');
}

#linux_download
{
	background-image: url('images/linux.png');
}

#downloads a
{
	display: inline-block;
	width: 42px;
	height: 57px;
	border: 1px solid black;
	background-color: white;
}

#downloads a:hover
{
	background-color: #93B300;
}

strong
{
	color: #6C7425;
}

ul
{
	list-style-type: square;
	margin-left: 25px;
}

.inner_ul
{
	margin-top: 0.5em;
}

li
{
	padding-bottom: 0.5em;
}

p
{
	margin-bottom: 25px;
	line-height: 20px;
}

#lcol p
{
	font-size: 10px;
	line-height: 16px;
	margin: 0;
}

.reduce_gap
{
	margin-top: -20px;
}

ul.divided li
{
	border-top: solid 1px #F5F5F5;
	margin-top: 4px;
	padding-top: 4px;
}

ul.divided li.first
{
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}

.footnote
{
	color: #6C7425;
	text-align: center;
	font-style: italic;
	margin-top: 20px;
}

.code_header
{
	margin-bottom: 5px;
}

.code
{
	border: dashed 1px #8cacbb;
	color: black;
	background-color: #f7f9fa;
	padding: 0.5em;
	line-height: 1.1em;
	display: block;
	font-family: monospace;
	white-space: pre;
	margin-bottom: 15px;
}

#donation
{
	position: relative;
	display: block;
	width: 88px;
	height: 32px;
	background-image: url('images/donations.gif');
	margin-left: 30px;
}
